%borderOutline {
  border: none;
  outline: none;
}
%input {
  @include size(100%, 100%);
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(113, 113, 113, 0.25);
  border: 1px solid rgba(113, 113, 113, 0.25);
  border-radius: 5px;
  @extend %borderOutline;
  padding: 0px 40px 0px 13px;
  @include fontstyle(14px, 500, $black-505);
}
%lg-field {
  @include size(100%, 48px);
  .input,
  .select-input {
    @include fontstyle(15px, 500, $black-505);
  }
}
%md-field {
  @include size(100%, 40px);
  .input,
  .select-input {
    @include fontstyle(14px, 500, $black-505);
  }
}
%sm-field {
  @include size(100%, 31px);
  .input,
  .select-input {
    @include fontstyle(13px, 500, $black-505);
    box-shadow: none;
    border-radius: 4px;
  }
}
