@import "../variables/variables";
@import "../mixin/mixin";
@import "../extend/extend";
@import "../common/common";
@import "../utilities/utilities";

.input-field-wrapper,
.select-box-wrapper {
  label {
    text-transform: capitalize;
  }
  //   large-label
  label.lg {
    @include fontstyle(16px, 600, $black-505);
  }
  //   meduim-label
  label.md {
    @include fontstyle(15px, 600, $black-505);
  }
  //   small-label
  label.sm {
    @include fontstyle(13px, 600, $black-505);
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    font-size: 18px;
    color: $black-505;
  }
}

// Text-and-Password-Input-Fields-start
.input-field-wrapper {
  .input-wrapper {
    position: relative;
    .input {
      @extend %input;
      &.danger {
        background-color: $danger-bg;
        border: 1px solid $danger;
      }
      &.success {
        background-color: $success-bg;
        border: 1px solid $success;
      }
      &.danger:focus {
        box-shadow: $danger-shadow;
      }
      &.success:focus {
        box-shadow: $success-shadow;
      }
    }
    i.danger {
      color: $danger;
    }
    i.success {
      color: $success;
    }
    //   large-input-field
    &.lg {
      @extend %lg-field;
    }
    //   meduim-input-field
    &.md {
      @extend %md-field;
    }
    //   small-input-field
    &.sm {
      @extend %sm-field;
    }
  }
}
// Text-and-Password-Input-Fields-end

// Select-Box-code-Start
.select-box-wrapper {
  .select-inner {
    position: relative;
    .select-input {
      @extend %input;
    }
    //   large-select-field
    &.lg {
      @extend %lg-field;
    }
    //   meduim-select-field
    &.md {
      @extend %md-field;
    }
    //   small-select-field
    &.sm {
      @extend %sm-field;
    }
    .select-input.danger {
      background-color: $danger-bg;
      border: 1px solid $danger;
    }
    .select-input.success {
      background-color: $success-bg;
      border: 1px solid $success;
    }
    .select-input.danger:focus {
      box-shadow: $danger-shadow;
    }
    .select-input.success:focus {
      box-shadow: $success-shadow;
    }
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}
// Select-Box-code-End

// checkbox-code-start
.checkbox-label,
.radio-label {
  @include fontstyle(14px, 600, $black-505);
}
// checkbox-code-end
