// colors
.primary {
  color: $pink-ff4;
}
.bg_primary {
  background-color: $pink-ff4;
}
.bg_secondary {
  background-color: $blue-93d;
}
.txt_primary {
  color: $black-505;
}

// Error-Msg
.error-msg {
  @include fontstyle(12px, 500, $danger);
}
.outline-0 {
  outline: none !important;
}
// list-style-none
.list-none {
  list-style: none;
}
// background-transparent
.bg-transparent {
  background-color: transparent;
}
// Cursor-Pointer
.cursor-pointer {
  cursor: pointer !important;
}
