$black: #000;
$white: #fff;
$pink-ff4: #ff438c;
$pink-ffd: #ffd7e6;
$black-505: #505050;
$gray-999:#999999;
$gray-f6f:#F6F6F6;
$blue-93d: #93ddff;

// colors-status
$danger: #dc3545;
$success: #28a745;
$danger-bg: rgba(255, 85, 85, 0.1);
$success-bg: rgba(85, 255, 85, 0.1);

// Box-Shadows
$danger-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
$success-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
